@font-face {
  font-family: "VaccineSansWebRegular";
  src: url(../fonts/VCS55__W.eot);
  src: url(../fonts/VCS55__W.eot?#iefix) format("embedded-opentype"), url(../fonts/VCS55__W.woff2) format("woff2"),
    url(../fonts/VCS55__W.woff) format("woff"), url(../fonts/VCS55__W.ttf) format("truetype"),
    url(../fonts/VCS55__W.svg#VaccineSansWeb-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
}
